<div class="table-responsive">
  <table class="financial-table">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>Descripción</th>
        <th>Fecha de liberación</th>
        <th>Fecha de reestructuración</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (product of pagedProducts(); track product.id) {
        <tr>
          <td>
           <img [src]="product.logo" class="product-logo" >
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release | date:'dd/MM/yyyy':'UTC' }}</td>
          <td>{{ product.date_revision | date:'dd/MM/yyyy':'UTC' }}</td>
          <td class="action-cell">
        
            <app-dropdown-menu 
              [options]="tableActions" 
              (optionSelected)="onActionSelected($event, product)">
            </app-dropdown-menu>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="6" class="empty-state">No se encontraron productos financieros.</td>
        </tr>
      }
    </tbody>
  </table>

  <div class="table-footer">
    <span class="record-count">
      {{ totalRecords() }} Resultados
    </span>
    
    <div class="page-size-selector">
      <select (change)="onPageSizeChange($event)" [value]="pageSize()">
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="20">20</option>
      </select>
    </div>
  </div>
</div>
